/* Asegúrate de que el formulario ocupe el 100% del ancho del modal */
mat-form-field {
  width: 100%; /* Hace que los campos de email ocupen todo el ancho */
  margin-bottom: 16px; /* Añadir un espacio debajo de los campos */
}

/* Centrar los botones en la parte inferior */
mat-dialog-actions {
  display: flex;
  justify-content: space-between; /* Esto separa los botones */
  margin-top: 16px; /* Añadir un poco de espacio arriba de los botones */
}

mat-error {
  color: #f44336; /* Rojo para mostrar los errores */
  font-size: 12px; /* Puedes ajustar el tamaño del texto de los errores */
}

/* Estilos adicionales para los títulos y el contenido */
mat-dialog-title {
  font-weight: bold;
  font-size: 18px;
  color: #333; /* Color oscuro para el título */
}

mat-dialog-content {
  padding: 5px; /* Asegura que haya espacio alrededor del contenido */
  font-size: 14px; /* Tamaño de fuente del contenido */
  color: #555; /* Color para el texto dentro del modal */
}

/* Estilo para el formulario con grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 16px; /* Espacio entre las columnas */
}

.mat-form-field {
  width: 100%; /* Asegura que los campos ocupen todo el ancho dentro de cada columna */
}

mat-checkbox {
  grid-column: span 2; /* El checkbox ocupará ambas columnas */
}

@media (max-width: 600px) {
  /* Para pantallas pequeñas, cambia a una sola columna */
  .form-grid {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }

  mat-checkbox {
    grid-column: span 1; /* El checkbox ocupará solo una columna */
  }
}
